@font-face {
    font-family: staatliches;
    src: url('../fonts/Staatliches-Regular.ttf');
}

html, body{
    font-family: staatliches;
    min-height: 100% !important;
    height: 100%;
    width: 100%;
    right: 0px;
    left: 0px;
    margin: 0px;
    display:flex; 
    flex-direction:column; 
}

body{
    background-image: url('../images/backgr.jpg');
    background-repeat: repeat;
    
}

.deful {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0px;
    width: 100%;
    left: 0px;
    font-size: 135%;
    right: 0px;
    z-index: 4;
}

.deful li{
    display: inline;
    float: left;  
    border-right: 1px solid #bbb;
    
}

.deful li:nth-child(3){
    border-right: 0px;
}

.deful li a{
    display: block;
    padding: 15px;
    background-color:black;
    text-decoration: none;
    color: white;
    text-align: center;
}

.deful li a:hover{
    background-color: rgb(39, 37, 37);
}


.deful li:nth-last-of-type(-n+2){
    float:right;
}


.default {
    min-height: 100%;
    position: relative;
  }

.footer {
    clear: both;
    width: 100%;
    background-color:black;
    color: white;
    text-align: center;
    padding-bottom: 0.25%;
    padding-top: 0.25%;
    bottom: 0;
    left: 0;
    position: fixed;  
    margin-top: auto;
   
  }
  



@media screen and (max-width: 800px) {
.columngrid {
    flex: 50%;
    max-width: 50%;
}
}

@media screen and (max-width: 600px) {
.columngrid {
    flex: 100%;
    max-width: 100%;
}
}




